.NotesPage .heading {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.todoListMain .header .input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 90vw;
  margin-left: 10px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  border-radius: 10px;
}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  border-radius: 10px;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 100vw;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;

  transition: background-color 0.2s ease-out;
}

.todoListMain .theList li:hover {
  background-color: pink;

  cursor: pointer;
}

ul.theList {
  padding: 0;
}

.note {
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin-bottom: 10px;
}
.note-content {
  display: flex;
}
.note-text {
  width: 200px;
  word-wrap: break-word;
}