.panel-default {
  border-color: #dddddd;
}

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-body {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}

.forum .heading {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}
